[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
